body{
    font-family: Verdana, Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(route.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}
nav> ul > li{
   float: left;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-mobile{
	     display: none;
}

nav{
	width: 100%;
	background-color: #22c97e;
}

nav> ul > li{
	float: left;
	position: relative;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;

}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul >li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 10000;
}

.submenu li a {
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color: rgba(000,112,192,0.15);
}

.menu-js:hover{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241,211,79,0.15);
}

.menu-contact:hover{
	border-top: 5px solid #BBB;
	background-color: rgba(220,220,220,0.15);
}

.menu-php:hover{
	border-top: 5px solid #BDB76B;
	background-color: rgba(189,183,107,0.15);
}

nav> ul> li:hover a{
	padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
	background-color: rgb(230,100,40);
}
.menu-css .submenu{
	background-color: rgb(000,160,240);
}
.menu-js .submenu{
	background-color: rgb(251,216,99);
}
.menu-php .submenu{
	background-color: rgb(184,134,11);
}

.submenu li:hover a{
	color:#EEE;
	font-weight: bold;
}
.menu-html .submenu li:hover{
	background-color: rgb(210,77,60);
}
.menu-html .submenu li:hover{
	background-color: rgb(000,115,200);
}
.menu-html .submenu li:hover{
	background-color: rgb(200,165,75);
}

.menu-mobile{
	    display: none;
}

nav input[type=checkbox]{
	display: none;
}


main{
	display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/route.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
h1{
    font-family:monospace;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
   
    height: 60;
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}
