.bloc1
{
	background-color: blue;
	height: 200px;
	width: 200px;
	float: left;
	margin: 10px;
}

.bloc2
{
	background-color: white;
	height: 200px;
	width: 200px;
	float: left;
	margin-left: 50px;
	margin: 80px;
}

.bloc3
{
	background-color: red;
	height: 250px;
	width: 500px;
	clear: both;
	margin-left: 10px;
	margin: px;
}