.bloc1
{
	background-color: white;
	float: left;
	margin: 10px;
}

.bloc2
{
	background-color: green;
	width: 200px;
	float: left;
	margin-left: 50px;
	margin: 10px;
}

.bloc3
{
	background-color: red;
	height: 50px;
	width: 90px;
	clear: both;
	margin-left: 10px;
	margin: px;
}
}

/* .cont{
    display: flex;
    padding: 10px;
} */