h1{
	color: white;
	font-family: verdana;
	font-size: 1em;

}
.bloc1{
	background-color: orange;
	height: 65px
	margin: 10px;
	margin-left: 20px;
}
.bloc2{
	background-color: orange;
    height: 250px;
    width: 600px;
    float: left;
    margin: 10px;
	margin-left: 20px;


}
.bloc3{
	background-color: orange;
    height: 250px;
    width: 600px;
    float: left;
    margin: 10px;
	margin-left: 20px;
}
.bloc4{
	background-color: orange;
    height: 250px;
    width: 600px;
    float: left;
    margin: 10px;
	margin-left: 20px;
}
.bloc5{
	background-color: orange;
    height: 80px;
    clear: both;
    margin: 20px;
	margin-left: 20px;
}
div
{
	border: 2px solid pink;
	border-radius:8px;
	text-align: justify; 
	padding: 1,5%;
}
p{
	color: white;
	font-family: verdana;
	font-size: 1em;

}
.bloc6{
background-color: orange;
    height: 210px;
    width: 600px;
    float: left;

}
.bloc7{
	background-color: orange;
    height: 210px;
    width: 600px;
    float: left;
}
.bloc8{
	background-color: orange;
    height: 210px;
    width: 600px;
    float: left;
}