body
{
    background-color: green;
    text-align: center;

}
button
{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid red;
    border-radius: 26px;
    color: oldlace;
    font-size: 2em;
    text-align: center;
}
button:hover
{
    background-color: yellowgreen;
    color: brown;
   
}